
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 512px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 512px 512px;
}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.md-content{
  text-align: left;
  padding: 10px;
}
.md-content img{
  max-width: 100%;
}
.md-content *{
  border: transparent 1px dashed;
}

.md-content *:hover{
  border: #f56 1px dashed;
}

pre{
  background-color: beige;
  padding: 10px;
}

.src-content{
  height: 200px;
  background-color: azure;
  padding: 10px;
  text-align: left;
}
.target-content{
  height: 100px;
}